@import "../variables";

main {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  .countdown_heading {
    color:$bordeaux;
    font-weight: bold;
  }
  .container {
    width: 98vw;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .countdown_form{
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: center;
    gap:2rem;
    mat-form-field {
      width: 100%;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color:$border-color ;
    }
    input.mat-input-element {
      color: $black;
    }
  }

  @media (orientation: landscape) and (min-width: 768px) {
    .countdown_form {
      flex-direction: row;
    }
    .countdown_display{
      margin-bottom: 4rem;
    }
  }

  @media (orientation: portrait) and (max-width: 768px) {
    .countdown_form {
      flex-direction: column;
    }
    .countdown_display{
      margin-bottom: 10rem;
    }
  }
}

.fittext{
  white-space: nowrap;
  text-wrap: nowrap;
  display: inline-block;
}

