@import "../variables";

main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  .countdown_heading {
    color:$bordeaux;
    font-weight: bold;
  }
  .container {
    width: 98vw;
    text-align: center;
    display: flex;
    flex-direction: column;
  }


  .countdown_form{
    display: flex;
    width: 60vw;
    margin: 4rem auto;
    justify-content: center;
    gap:2rem;
    mat-form-field {
      width: 100%;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color:$border-color ;
    }
    input.mat-input-element {
      color: $black;
    }
  }
  @media (orientation: landscape) and (min-width: 768px) {
    .countdown_form {
      flex-direction: row;
    }
  }

  @media (orientation: portrait) and (max-width: 768px) {
    .countdown_form {
      flex-direction: column;
    }
}

}
.fittext{
  white-space: nowrap;
  text-wrap: nowrap;
  display: inline-block;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
  background-color: #ff884d; // Desired color when input is focused
}

$color-outline: red;

mat-form-field {
  ::ng-deep .mdc-floating-label {
    color: $black !important;
  }
  /* Change outline border color */
  ::ng-deep .mat-mdc-form-field .mat-mdc-form-field-outline {
    color: red; /* Replace with your desired color */
  }
  ::ng-deep .mat-form-field-outline {
    color: $color-outline !important;
  }
  ::ng-deep .mat-form-field-label {
    color: $color-outline !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: red!important;
  }
}
/* Border */
::ng-deep{
  .mat-form-field-outline {
    color: red;
  }
  /* Font color */
  input.mat-input-element {
    color: white;
  }

}

