
<main class="main">

  <div class="container">
    <div class="countdown_display">
      <h1
        appFitText
        class="countdown_heading fittext"
      >{{eventName}}</h1>
      <h1
        class="countdown fittext"
      >{{ formattedCountdown}}</h1>
    </div>
    <form class="countdown_form">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          [(ngModel)]="eventName"
          name="eventName"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="updateEventName"
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input
          disabled
          matInput
          [matDatepicker]="picker"
          [min]="now"
          placeholder="Countdown Date"
          [(ngModel)]="eventDate"
          (dateChange)="updateEventDate"
          name="eventDate"
          [ngModelOptions]="{standalone: true}"
        >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>

</main>

<router-outlet />
