@import "./variables";
@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

body {
  margin: 0;
  background-color: $bg-color;
  color: $black;
  font-family: 'Open Sauce One', sans-serif;
}
